/* Navbar */

.topnav {
    overflow: hidden;
    background-color: #ffffff; 
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 1px 20px;
    border: none;
    box-shadow: 0px 1px 2px rgb(202, 202, 202);

}
.nav-logo {
    width: 100px;
}

.signup-nav , .login-nav {
    margin-left: auto;
    float: right;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: var(--font-size-mbl_c1);
    justify-content: flex-end;
    font-weight: 600;
}

@media only screen and (max-width: 767px) {
    .signup-nav , .login-nav {
        font-size: var(--font-size-mbl_c2);
    }
    .nav-logo {
        width: 60px;
    }

}

/* demo txt */

.demo-text {
    font-size: var(--font-size-dsktp_h2);
    background-color: #7A0000; 
    text-align: center;
    color: #ffffff;
    margin-top: -1%;
}

@media only screen and (max-width: 767px)  {
    .demo-text {
        font-size: var(--font-size-mbl_h2);
    }
}


/* button */

.signup-nav {
    background-color: steelblue;
    color: #fff;
    border-radius: 20px;
    text-align: center; /* Center-align text */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth background color transition */
}

.signup-nav:hover {
    background-color: #ed810e; /* New background color on hover */
}

.signup-nav:active {
    background-color: dimgray; /* New background color on hover */

}

.login-nav:hover , .login-nav:active {
    color: #f09534;
}





/* left text */
.left {
    float: left;
    width: 50%;
    text-align: center;
}

.left-text p {
    font-size: var(--font-size-dsktp_h1);
    line-height: 56px;
    font-weight: 600;
    color: steelblue;
    text-align: center;
    align-items: center;

    max-width: 100%;
    padding: 0%;
    margin: 1%;

}

/* .demo-text {
    font-size: var(--font-size-dsktp_h2);
    max-width: 100%;
} */

.left-text {
    margin-top: 8%;
}


@media screen and (min-width: 767px) and (max-width: 1024px) {
    .left p {
        font-size: var( --font-size-tblt_h1);
        line-height: 1;
    }

    .left-text {
        margin-top: 1%;
    }
    /* .demo-text {
        font-size: var( --font-size-tblt_h3);
    } */

}

@media only screen and (max-width: 767px) {
    /* For mobile phones: */
    .left {
      width: 100%;
    }

    .left p {
        font-size: var(--font-size-mbl_h1);
        line-height: 1;
    }

    .left-text {
        margin-top: 0%;
    }
}




/* left button */

.start {
    font-size: var(--font-size-dsktp_h2); /* Text size */
    text-decoration: none;
    display: inline-block; /* Make it a block element to apply styles */
    background-color: #f09534; /* Button background color */
    color: #fff; /* Text color */
    border: none; /* Remove button border */
    border-radius: 20px; /* Rounded corners */
    text-align: center; /* Center-align text */
    cursor: pointer; /* Cursor style on hover */
    transition: background-color 0.3s ease; /* Smooth background color transition */
    width: 40%;
    margin-top: 2%;
    padding: 12px 20px;
    
}   

/* Hover effect to change background color */
.start:hover {
    background-color: #ed810e; /* New background color on hover */
}

.start:active {
    background-color: dimgray; /* New background color on hover */

}

@media screen and (min-width: 767px) and (max-width: 1024px) {
    .start {
        font-size: var(--font-size-tblt_h2);
        line-height: 1;
        margin-top: 10%;
        
    }
}

@media only screen and (max-width: 767px) {
    /* For mobile phones: */
    .start {
        max-width: 100%;
        padding:10px 80px;
        font-size: var(--font-size-mbl_h2);
        text-align: center;
    }

  }


/* right image */

.appimage {
    float: left;
    max-width: 50%; /* Ensure the container never exceeds its parent's width */
    position: relative; /* For maintaining aspect ratio */
    margin-top: 2%;
}

.appimage img {
    width: 100%; /* Make the image fill its container */
    height: auto; /* Maintain the image's aspect ratio */
}

@media screen and (min-width: 767px) and (max-width: 1024px) {
    .appimage {

        margin-top: 0%;

    }
}

@media only screen and (max-width: 767px) {
    /* For mobile phones: */
    .appimage {
        max-width: 100%;
        margin-top: 10%;

    }

}   


/* vdo */

.tutorial {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
   
    /* background-color: whitesmoke; */
    /* background-image: url(".\home5_image\bg.png"); */
}

/* .vdo-tutorial {
    
    max-width: 20%;
    width:"100px";
    height:"100px"
} */

.vdo-tutorial {
    width: 500px;
    height: 400px;
}


@media only screen and (max-width: 767px) {
    .vdo-tutorial {
        width: 300px;
        height: 200px;
    }
}


/* mini cloclude */


/* engage */


.mini-conclude {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    padding-top: 1%;
    
}

.mini-conclude > div {
    text-align: center;
    margin-top: 15px;
  }



.engage_conclude , .game_conclude , .skill_conclude{
    display: flex; /* Use flexbox to arrange the image and text horizontally */
    align-items: center; /* Vertically center the items */
    padding-left: 10%;
}


#engage_head , #game_head,#skill_head {
    font-size: var(--font-size-dsktp_h2);
    font-weight: 600;
    color: steelblue;
    text-align: center;
    align-items: center;
    max-width: 100%;
    padding: 5%;
    margin: 0%;

}

#engage_txt , #game_txt , #skill_txt {
    font-size: var(--font-size-dsktp_c1);
    color: dimgrey;
    margin: 0px;
    
    
}

.game {
    border-left: 3px dashed steelblue;
    border-right: 3px dashed steelblue;
}

.mini-conclude img {
    max-width: 20%;

}


@media screen and (min-width: 767px) and (max-width: 1024px) {
    /* Tablet */

    #engage_head , #game_head,#skill_head {
        font-size: var(--font-size-tblt_h3);
    }

    #engage_txt , #game_txt , #skill_txt {
        font-size: var(--font-size-tblt_c1);
        padding-left: 20%;
        padding-right: 5%;
        text-align: left;
    }

    .mini-conclude img {
        max-width: 20%;
        width: 100%;
    }
}


@media only screen and (max-width: 767px) {
    /* For mobile phones: */
    .mini-conclude {
        width: 100%;
        display: grid;
        justify-content: center;
        grid-template-columns: auto;
        gap: 0px;
    }

    .mini-conclude img {
        max-width: 12%;
    }

    #engage_head , #game_head,#skill_head {
        font-size: var(--font-size-mbl_h2);
        margin: 0px;
    }

    #engage_txt , #game_txt , #skill_txt {
        font-size: var(--font-size-mbl_c1);
        padding-left: 20%;
        padding-right: 5%;
        text-align: left;
    }


    .game {
        border-top: 3px dashed steelblue;
        border-left: 3px dashed transparent;
        border-right: 3px dashed transparent;
    }

    .skill {
        border-top: 3px dashed steelblue;
    }

    .engage , .game ,.skill {
        line-height: 1.2;
    }


}


/* slogan */

.slogan {
    width: 100%;
    display: grid;
    grid-template-columns: 60% 40%;
    padding-top: 40px;
    
}
/* slogan img */

.slogan-img {
    background-color: #202A44;
    /* background: linear-gradient(to top, #202A44, #ffffff); */

}

/* sloganright text */

.otudy-school-container {
    background-color: whitesmoke;
    /* background: linear-gradient(to top, whitesmoke, #ffffff); */
}

.slogan > div {
    text-align: center;
    padding: 20px ;
    
  }

.otudy-school {
    font-size: var(--font-size-dsktp_h2);
}

.otudy-school .otudy {
    color: #f09534;
}

.otudy-school .school {
    color: #2196F3;
}

.p0 , .p1 {
    margin: 1%;
    font-size: var(--font-size-dsktp_c1);
}

/* slogan button */

.slogan-start {
    font-size: var(--font-size-dsktp_h2); /* Text size */
    text-align: center; /* Center-align text */
    width: 40%;
    text-decoration: none;
    display: inline-block; /* Make it a block element to apply styles */
    background-color: #f9f9f9; /* Button background color */
    color: dimgray; /* Text color */
    border: 3px solid #f09534; /* Remove button border */
    border-radius: 20px; /* Rounded corners */
    cursor: pointer; /* Cursor style on hover */
    transition: background-color 0.3s ease; /* Smooth background color transition */
    margin-top: 5%;
    padding: 12px 20px;
    
}

.slogan-start:hover {
    background-color: #ed810e; /* New background color on hover */
    color: #fff;
}

.slogan-start:active {
    background-color: dimgray; /* New background color on hover */

}



@media screen and (min-width: 767px) and (max-width: 1024px) {
    /* Tablet */
    .slogan-img img {
        width: 30%;
    }

    .p0 , .p1 {
        margin: 1%;
        font-size: var(--font-size-tblt_c1);
    }

    .slogan-start {
        font-size: var(--font-size-tblt_c1);
    }

    .otudy-school {
        line-height: 1;
        margin-bottom: 0px;
       }
    
}


@media only screen and (max-width: 767px) {
    /* For mobile phones: */

    .slogan{
        grid-template-columns: 50% 50%;
        padding-top: 25px;
    }


    .slogan-img img {
        width: 45%;
        justify-self: center;
    }

    .otudy-school {
        font-size: var(--font-size-mbl_h2);
        margin-bottom: 2px;
    }

    .p0 , .p1 {
        margin: 1%;
        font-size: var(--font-size-mbl_c1);
        display: inline;
    }
    
    .slogan-start {
        width: 40%;
        font-size: var(--font-size-mbl_c2);
        padding: 5px 20px;
    }    

   .otudy-school {
    margin-top: -5px;
    line-height: 1;
   }

        
}


/* whats good */

.whatsgood {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    padding-top: 25px;
}

.whatsgood > div {
    padding: 20px;
    text-align: center;
}

.div_txt:nth-child(2) {
    padding-bottom: 25px;
    border-bottom: 3px solid gainsboro; /* Add a bottom border to the middle item */
  }

/* whats good image */

.whatsgood img {
    max-width: 100%;
}

.diamond-student-mobile {
    width: 40%;
}

.reward-2-icon {
    width: 35%;
}

.collet-point , .redeem-reward {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center;
}

/* whats good txt */

.funnier {
    font-size: var(--font-size-dsktp_h1);
    color: #f09534;
    font-weight: 600;
}

.txt {
    font-size: var(--font-size-dsktp_c1);
    color: dimgrey;
    align-items: center;
}

.funtxt {
    margin: 10px;
}


.collect , .redeem {
    display: inline-block;
    font-size: var(--font-size-dsktp_h2);
    color: #f09534;
    font-weight: 600;

    border-radius: 10px;
    border-bottom: 3px solid gainsboro;
    box-sizing: border-box;
    border-width: 2px;
}

.redeem {
    margin-top: 3px;
}



@media screen and (min-width: 767px) and (max-width: 1024px) {
    /* Tablet */
    .funnier {
        font-size: var(--font-size-tblt_h1);
    }

    .txt {
        font-size: var(--font-size-tblt_c1);
    
    }

    
    .collect , .redeem {
        font-size: var(--font-size-mbl_h2);
    }

}


@media only screen and (max-width: 767px) {
    /* For mobile phones: */

    .whatsgood {
        grid-template-columns: 25% 50% 25%;
        margin-top: 0px;
    }
    .funnier {
        font-size: var(--font-size-mbl_c1);

    }

    .txt {
        font-size: var(--font-size-mbl_c1);
    
    }

    .funtxt {
        margin: 0px;
        margin-left: 0px;

    }
    
    .collect , .redeem {
        font-size: 12px;
        
    }

    .whatsgood img {
        width: 60%;
    }

    .diamond-student-mobile , .collect , .reward-2-icon ,.redeem {

        margin-top: 10px;
    }

    .div_txt {
        margin-top: -5px;
    }

}


/* Intro Feature1 */

.intro-feature1 {
    width: 100%;
    display: grid;
    grid-template-columns: 40% 60%;

    margin-top: 7%;
    margin-bottom: 4%;
}


.intro-feature1 > .intro-feature1-app-img {
    text-align: right;
    padding-right: 10%;
}

.class-start-mission-page-stud {

    max-width: 50%;

}


.feature-txt {
    align-self: center;
}

.intro-feature1-txt, .intro-feature2-txt {
    border-radius: 10px;
    background-color: white;
    box-shadow: 1px 7px 8px rgba(0, 0, 0, 0.25);
    height: fit-content;
    width: 70%;

}

.intro-feature1-headtxt ,.intro-feature2-headtxt{
    margin-left: 5%;
    text-align: left;
}

.intro-feature1-txt-boldtxt,.intro-feature2-txt-boldtxt {
    font-size: var(--font-size-dsktp_c1);
    color: steelblue;
    width: 600px;
}

.intro-feature1-txt-headtxt_p0 , .intro-feature2-txt-headtxt_p0 {
    margin-top: 0px;
    color: dimgrey;
    font-size: var(--font-size-dsktp_c1);
  }


@media screen and (min-width: 767px) and (max-width: 1024px) {
    /* Tablet */
    .intro-feature1-txt-boldtxt,.intro-feature2-txt-boldtxt {
        font-size: var(--font-size-tblt_h3);
    }

    .intro-feature1-txt-headtxt_p0 , .intro-feature2-txt-headtxt_p0 {

        font-size: var(--font-size-tblt_c1);
      }
}


@media only screen and (max-width: 767px) {
    /* For mobile phones: */

    .intro-feature1 {
        width: 100%;
        display: grid;
        grid-template-columns: 100%;
    }


    .intro-feature1-txt-boldtxt,.intro-feature2-txt-boldtxt {
        font-size: var(--font-size-mbl_c1);
    }

    .intro-feature1-txt-headtxt_p0 , .intro-feature2-txt-headtxt_p0 {

        font-size: var(--font-size-mbl_c1);
      }


    .intro-feature1 > .intro-feature1-app-img  {
        text-align: center;
        padding-right: 0%;
    }

          
    .feature-txt {
        display: flex;
        flex-direction: column;
        justify-content: center; /* Horizontal centering */
        align-items: center; /* Vertical centering */
    }

    .intro-feature1-txt, .intro-feature2-txt {
        margin-top: 3.5%;
        margin-bottom: 3.5%;
    }


}







/* footer */

.footer {
    display: grid;
    grid-template-columns: 100%;
    max-width: 100%;

}


.topfooter {
    display: grid;
    grid-template-columns: 10% 40% 50%;
    width: 100%;
    color: #202A44;
    background-color: lightblue;
}

.topfooter-contact a {
    text-decoration: none;

    
}


.topfooter .topfooter-logo {
    justify-self: center;
}

.topfooter-contact {
    margin-top: 1%;
    margin-left: 1%;
}

.otudyofficialgmailcom {
    margin-bottom: 1%;
    font-size: var(--font-size-dsktp_c2);
}

.magiceraser-5660804-114316-4-icon {
    width: 80px;
    margin-left: 10%;
    margin-top: 10%;
}

.social img {
    width: 20px;
    margin-right: 10px;
    margin-top: 10px;
}

.footer-feedbackform {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.feedback-txt {
    font-size: var(--font-size-dsktp_c2);
    top: 10px;
}

.formbutton {
    /* width: 20%; */

    font-size: var(--font-size-dsktp_c2); /* Text size */
    text-decoration: none;
    display: inline-block; /* Make it a block element to apply styles */
    background-color: purple; /* Button background color */
    color: #fff; /* Text color */
    border: none; /* Remove button border */
    border-radius: 20px; /* Rounded corners */
    
    text-align: center; /* Center-align text */
    cursor: pointer; /* Cursor style on hover */
    transition: background-color 0.3s ease; /* Smooth background color transition */
    padding: 10px 5px;
    margin-top: 1%;
    
}   

/* Hover effect to change background color */
.formbutton:hover {
    background-color: rgb(71, 0, 71); /* New background color on hover */
}


.formbutton:active {
    background-color: dimgray; /* New background color on hover */

}



.bottomfooter{
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #202A44;
    color: #ffffff;
  
}

.otudy-all-rights {
    font-size: var(--font-size-dsktp_c2);
}


@media screen and (min-width: 767px) and (max-width: 1024px) {
    /* Tablet */
    .topfooter-contact {
        margin-left: 12px;
    }

    .formbutton {
        margin-bottom: 1.5%;
    }

    .feedback-txt {
        margin-right: 1%;
    }

}


@media only screen and (max-width: 767px) {
    /* For mobile phones: */
    .topfooter {
        grid-template-columns: 100%
    }

    .topfooter .topfooter-logo {
        justify-self: left;
    }

    .otudyofficialgmailcom,.feedback-txt ,.formbutton,.otudy-all-rights {
        font-size: var(--font-size-mbl_c2);
    }

    .footer-feedbackform {
        margin-top: 1%;
        margin-left: 1%;
    }

    .topfooter-contact {
        margin-top: 1%;
    }


    .formbutton {
        margin-top: 1%;
        margin-bottom: 1.5%;
    }







    

}



  







