:root {
  /* fonts */
  --font-noto: ;


  /* font size */
  /* desktop */
  --font-size-dsktp_h1 : 60px;
  --font-size-dsktp_h2 : 40px;

  --font-size-dsktp_c1 : 28px;
  --font-size-dsktp_c2 : 18px;

  /* tablet */ 
  
  --font-size-tblt_h1 : 42px;   
  --font-size-tblt_h2 : 30px;    
  --font-size-tblt_h3 : 24px;  
  
 
  --font-size-tblt_c1 : 20px;    
  --font-size-tblt_c2 : 42px;
  /* mobile */

  --font-size-mbl_h1 : 32px;
  --font-size-mbl_h2 : 26px;

  --font-size-mbl_c1 : 16px;
  --font-size-mbl_c2 : 14px;
}

body {
  font-family: Noto Sans Thai;
}
  